/* App.css */

/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
}

/* 레이아웃 컨테이너 */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5;
  overflow-y: hidden;
}

/* 상단 네비게이션 바 */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #141D57;
  padding: 10px 10px;
  height: 50px;
  font-weight: bold;
  /* box-shadow: 4px 4px rgba(255, 0, 0, 0.25); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 3px;
}

.nav-left {
  display: flex;
  align-items: center
}

.nav-right {
  display: flex;
  margin-left: auto; /* 오른쪽으로 정렬 */
  align-items: center
}

.navbar div {
  margin: 10px 15px;
}

/* 네비게이션 링크 */
.nav-button {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #34495e;
}




subHeader {
  background: linear-gradient(to right, #CCDDED, #F5F5F5);
  height: 50px;
  display: flex;              /* flexbox를 사용하여 자식 요소를 정렬 */
  align-items: center;        /* 세로로 가운데 정렬 */
  padding-left: 30px;         /* 왼쪽 여백 (필요에 따라 조정) */
  font-weight: bold;
  font-size: 220x;
  margin-bottom: 5px;
}

/* 메인 콘텐츠 스타일 */
.content {
  flex-grow: 1;            /* 그대로 유지 */
  display: flex;
  flex-direction: column;
  overflow: hidden;        /* 부모 넘치지 않게 설정 */
}


/* 각 페이지의 세부 스타일 */
h1 {
  font-size: 32px;
  color: #2c3e50;
}

/* 페이지별 스타일 (예시로 HomeDashBoard에 스타일 추가) */
.home-page {
  text-align: center;
}

.home-page h1 {
  font-size: 36px;
  color: #2980b9;
}





.nav-left .nav-button {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-item {
  position: relative;
}

.nav-button {
  color: white;
  text-decoration: none;
}

.nav-item .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* 상위 메뉴 바로 아래에 표시 */
  right: 0;
  background-color: #ffffff;
  min-width: 160px;
  padding: 10px;
  border-radius: 5px;
  z-index: 10; /* 드롭다운 메뉴가 다른 요소들 위에 표시되도록 */
  transition: opacity 1.1s ease, visibility 1.1s ease; /* 부드럽게 나타나고 사라지게 */
  transition-delay: 1s; /* 호버 후 0.2초 뒤에 사라짐 */
}

.nav-item:hover .dropdown-menu {
  display: block; /* hover 시 드롭다운 메뉴가 보이도록 */
  
}

.dropdown-item {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  text-align: right;
}

.dropdown-item:hover {
  background-color: #D9D9D9;
}


.user-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-grow: 1;
  overflow: hidden; /* 자체 스크롤 없애고, 넘치지 않게 강제 차단 */
}



.SearchBox-content {
  flex-shrink: 0; /* 줄어들지 않게 고정 */
  margin: 20px;
}





.tab-content-container .data-content {
  flex-grow: 1; /* 남은 공간 전부 차지 */
  overflow-y: auto;
  overflow-x: auto;
  background-color: white;
  margin: 20px;
}
